/* height menu */

/* gc_cores */

/* height menu */

/* gc_cores */

#gbs_nav {
  display: inline-block;
}

#gbs_nav ul {
  -webkit-padding-start: 0px;
  display: block;
  background: #0329A9;
  width: 100%;
  position: fixed;
  bottom: -16px;
  z-index: 999;
}

#gbs_nav ul li {
  background: #064477;
  list-style: none;
  float: left;
  padding: 1rem 0rem;
}

#gbs_nav ul li:hover {
  background: black;
}

#gbs_nav ul li a {
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

#gbs_nav ul li a:hover {
  text-decoration: none;
}

#gbs_nav ul .gbs_icon_home a:after {
  content: '\f015';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1.8rem;
}

#gbs_nav ul .gbs_icon_users a:after,
#gbs_nav ul .gbs_icon_business a:after,
#gbs_nav ul .gbs_icon_modules a:after,
#gbs_nav ul .gbs_icon_components a:after,
#gbs_nav ul .gbs_icon_config a:after {
  content: '\f015';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1.8rem;
}

#gbs_nav ul .gbs_icon_business a:after {
  content: '\f015';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1.8rem;
}

.list-group {
  background: #ff0;
  display: inline-block;
  width: 100%;
}

.list-group .list-group-item {
  float: left;
}

/* height menu */

/* gc_cores */

#gc_header {
  text-align: center;
  display: table;
  width: 100%;
  height: 60px;
}

#gc_header .sistem_info {
  display: table-caption;
  background: #073962;
}

#gc_header .sistem_info p {
  color: #fff;
  font-size: 1.1rem;
}

#gc_header .sistem_info .gc_title {
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.0rem;
  text-shadow: 3px 1px 6px #125BAF;
}

#gc_header #gc_nav {
  background: #064477;
  padding: 6px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#gc_header #gc_nav .gc_nav_link {
  background: #ff0;
  padding: 5px 15px;
  border-bottom: 1px solid #93934E;
}

#gc_header #placa_1 {
  background: #064477;
}

#gc_header .gc_nav_menu {
  height: 40px;
  background: #EBE44D;
  display: inline-flex;
  width: 100%;
}

#gc_header .gc_nav_menu ul {
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}

#gc_header .gc_nav_menu ul li {
  height: 40px;
  padding-top: 6px;
  float: left;
  display: block;
  list-style: none;
}

#gc_header .gc_nav_menu ul li:hover {
  background: pink;
}

#gc_header .gc_nav_menu ul li a {
  height: 40px;
  margin: 0px !important;
  display: block;
  padding-top: 6px;
  padding: 0px 6px;
}

.gc_panel_content {
  background: #ff0;
  width: 92%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gc_logo_title {
  font-weight: 800;
  text-shadow: 2px 2px 13px #0F0F0F;
  color: #FFDD00;
  font-size: 1rem;
}

.gc_logo_title:hover {
  font-size: 2rem;
}

#gc_institute {
  background: url("../../../../_dist/assets/image/micro.png") #FFBA00 no-repeat;
  display: table;
  padding: 1rem;
  height: 300px;
}

#gc_institute .gc_box {
  color: #8C8C8C;
  font-size: 1.6rem;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background: #fff;
  padding: 5rem;
  opacity: 0.9;
  box-shadow: 6px 12px 23px -14px #8F8F8F;
  border-radius: 11px;
  margin: 6px;
  width: 49%;
}

#gc_institute .gc_box .gc_portfolio li {
  display: table;
  width: 100%;
  list-style: none;
  background: #373737;
  margin: 6px 0px;
  border-bottom: 2px solid #ADADAD;
}

#gc_institute .gc_box .gc_portfolio li h2 {
  font-size: 1rem;
  display: table;
  float: left;
  padding: 14px 60px;
  margin-bottom: 0px;
  background: #235279;
  color: #fff;
}

#gc_institute .gc_box .gc_portfolio li h3 {
  font-size: 1rem;
  float: left;
  background: #2570A6;
  padding: 14px 15px;
  color: #fff;
  width: 40%;
  margin-bottom: 0px;
}

#gc_institute .gc_box .gc_portfolio li button {
  width: 25%;
  color: #FFF;
  background: #1BCD73;
  border: none;
  margin-bottom: -2px;
  padding: 3px 4px;
  border-bottom: 3px solid #10AD5D;
}

#gc_institute .gc_box .gc_portfolio li button:hover {
  border-bottom: 3px solid #1BCD73;
  background: #10AD5D;
}

#gc_footer {
  background: #376184;
  text-align: center;
  display: table;
  width: 100%;
  color: #fff;
}

/* height menu */

/* gc_cores */

.gc_welcome {
  display: table-caption;
  text-align: center;
  vertical-align: middle;
  background: #f5f5f5;
}

#gc_form_create_user {
  background: #E5E5E5;
  margin: 1rem;
  display: block;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  box-shadow: 4px 5px 17px -6px #B8B6B6;
  border: 1px solid #D5D5D5;
  border-bottom: 3px solid #D0D0D0;
}

#gc_form_create_user form {
  background: #EBEBEB;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 5px -25px 43px 7px #D9D9D9;
}

#gc_form_create_user form fieldset {
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  padding: 0.4rem 2rem;
  margin-top: 1rem;
}

#gc_form_create_user form fieldset label {
  width: 100%;
  font-size: 1.2rem;
}

#gc_form_create_user form fieldset legend {
  width: inherit;
  font-size: 0.8rem;
  position: relative;
  background: #DDD;
  padding: 0.2rem 0.6rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.2rem;
  border-bottom: 2px solid #D5D2D2;
  text-transform: uppercase;
  font-weight: 700;
  color: #888;
}

.row {
  margin-left: 10px;
  margin-right: 10px;
}

body {
  background: #f5f5f5;
}

body header {
  background: #064477;
}

body .add_qtdy,
body .remove_qtdy {
  cursor: pointer;
}

body .add_qtdy span,
body .remove_qtdy span {
  background: #C12121;
  width: 10%;
  display: block;
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
}
body {
  background: pink;
}

body header#gbs_vtex_header {
  background: blue;
}