<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.1/css/tether-theme-arrows-dark.css">
	<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../arquivos/css/input_quantity.css">
	<link rel="stylesheet" href="../arquivos/css/carrinho.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<title>Quantity Input - HTML</title>
</head>
<body>
	<header>
		<h1>Gabenna Consulting - Front-End Enginneer</h1>
		<h2>Gabenna Code do Brasil Ltda.</h2>
		<h3>@michaelgabenna</h3>
		<nav>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/graal/quantity_input.html">Quantitade</a></li>
				<li><a href="/graal/carrinho.html">Carrinho</a></li>
			</ul>
		</nav>
	</header>
	<div class="gbs_plugin_content">
		<div class="row">
			<h2>Gabenna Front-end{{Input Quantity}}</h2>
			<div class="col-md-6">
				<div id="gbs_input_quantity">
					<div class="col-xs-1">
						<div class="gbs_iq_value">
							<div class="gbs_add_qtdy">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="gbs_iq_value">
							<input type="text" value="" id="gbs_input_quantity_value" placeholder="Quantidade">
						</div>
					</div>
					<div class="col-xs-1">
						<div class="gbs_iq_value">
							<div class="gbs_remove_qtdy">
								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class="col-md-6">
			<div class="gbs_view_input_value">
				<h2></h2>
			</div>
		</div>
		</div>
	</div>
	<div class="gbs_plugin_content">
		<div class="row">
			<div id="gbs_form_event_accept">
				<div class="col-xs-12">
					<h2>Participação no evento</h2>
					<form action=""></form>
				</div>
			</div>
		</div>
	</div>
	<div class="gbs_plugin_content">
		<div class="row">
			<h3>carrinho</h3>
			<input type="text" value="2">
			<p>quantidade:</p>
			<h4>total:</h4>
		</div>
	</div>
	<!-- dev-dependencies-cdn * init *-->
		<link rel="stylesheet" href="http://www.atlasestateagents.co.uk/css/tether.min.css">
		<script src="http://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
		<script   src="https://code.jquery.com/jquery-2.2.3.min.js"></script>	
		
		<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

		<!-- api_data.json * begin *-->	
			<script src="../arquivos/js/api_data.js"></script>

		<!-- api_data.json * end *-->	
		
			<script src="../arquivos/js/gbs_input_quantity.js"></script>
			<script src="../arquivos/js/carrinho.js"></script>
		



	<!-- dev-dependencies-cdn * end *-->
</body>
</html>