extends layout



block content
	header#gc_header
		.gc_logo
			p logo
		nav.gc_nav
			- list = ["inicio", "basilheus", "Gaben Front", "Configurações", "Usuários", "Perfil", "sair", "sair"]
			each item in list
				li= item

		p header

	aside#gc_aside
		span painel

	section#gc_dashboard
		h3 dashboard
		.gc_box
			h4 title
			em description
			a(class='gc_link', href='google.com') link
	h1= title
	p Welcome to #{title}

	.gc
		p Michael Gabenna Consulting
