@import url(https://fonts.googleapis.com/css?family=Abel);
body{
	font-family: 'Abel', sans-serif;
	background-image: url("https://developer.cdn.mozilla.net/static/img/header-background.4c35c324fbeb.png");
}
.row{
	margin-right: 0;
}

header h1,
header h2,
header h3 {
    color: #929292;
    box-sizing: content-box;
    text-align: center;
}
header h1 {
    font-size: 1.4em;
    font-weight: 800;
    color: #0D64D0;
    text-transform: uppercase;
}
header h2{
	font-size: 1.0em;
}
header h3{
	font-size: 0.8em;
	font-weight: 700;
}
#gbs_input_quantity {
    display: -webkit-box;
}
#gbs_input_quantity > div {
 	background: #ECECEC;
    margin: 0;
    padding: 0;
}
#gbs_input_quantity * i {
    color: #7B7B7B;
}
.gbs_iq_value > div:hover{
	background: #f00;
	color: #fff;
}
.gbs_iq_value > div:hover i{
	background: #f00;
	color: #fff !importan;
}
input{
	background: #fff;
    width: 100%;
    height: 38px;
    border: none;
    margin: 0;
	border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
 	text-align: center;
	color: #000;
}
span {

}
.gbs_iq_value {
    cursor: pointer;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
}
.gbs_plugin_content {
    display: inline-block;
    width: 100%;
    background: #0D64D0;
    color: #fff;
    padding: 0rem 0rem 0rem 2rem;
 	margin-bottom: 0.2rem;
}
.gbs_view_input_value {
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 15px;
    color: #ff0;
}
.gbs_view_input_value h2{
	color: #000;
}