p sidebar fixed.
p conteudo scrolling.
#gc_budget_box
	p Basilheus Budget.
	form(name="new-gbs-budget", method="post")
		div.input
			span.label Title
			input(type="text", name="title")
		div.actions
			input(type="submit", value="add")