@import 'gbs_variables_colors';



#gbs_nav
	display: inline-block;

	ul
		-webkit-padding-start: 0px;
		display: block;
		background: #0329A9;
		width: 100%;
		position: fixed;
		bottom: -16px;
		z-index: 999;

		li
			background: $gc_marinho;
			list-style: none;
			float: left;
			padding: 1rem 0rem;
			&:hover
				background: black;
			a
				padding: 1rem 2rem;
				color: #fff;
				font-size: 1.2rem;
				font-weight: 400;
	
				&:hover
					text-decoration: none;

		.gbs_icon_home
			a:after
				content: '\f015';
				font: normal normal normal 14px/1 FontAwesome;
				font-size: 1.8rem;	

		.gbs_icon_users,
		.gbs_icon_business,
		.gbs_icon_modules,
		.gbs_icon_components,
		.gbs_icon_config,
			a:after
				content: '\f015';
				font: normal normal normal 14px/1 FontAwesome;
				font-size: 1.8rem;	

		.gbs_icon_business
			a:after
				content: '\f015';
				font: normal normal normal 14px/1 FontAwesome;
				font-size: 1.8rem;	



.list-group /* mixin_nav */
	background: #ff0;
	display: inline-block;
	width: 100%;
	
	.list-group-item
		float: left;