#gc_form_create_user
	background: #E5E5E5;
	margin: 1rem;
	display: block;
	padding: 1rem 2rem;
	border-radius: 0.4rem;
	box-shadow: 4px 5px 17px -6px #B8B6B6;
	border: 1px solid #D5D5D5;
	border-bottom: 3px solid #D0D0D0;

	form
		background: #EBEBEB;
		border-radius: 4px;
		padding: 1rem;
		box-shadow: 5px -25px 43px 7px #D9D9D9;

		fieldset
			border: 1px solid #DBDBDB;
			border-radius: 4px;
			padding: 0.4rem 2rem;
			margin-top: 1rem;
			
			label
				width: 100%;
				font-size: 1.2rem;

			legend
			    width: inherit;
			    font-size: 0.8rem;
			    position: relative;
			    background: #DDD;
			    padding: 0.2rem 0.6rem;
			    margin-left: auto;
			    margin-right: auto;
			    border-radius: 0.2rem;
			    border-bottom: 2px solid #D5D2D2;
			    text-transform: uppercase;
			    font-weight: 700;
			    color: #888;
