#gc_institute
	background: url('/_dist/assets/image/micro.png') #FFBA00 no-repeat;
	display: table;
	padding: 1rem;
	height: 300px;

	.gc_box
		color: #8C8C8C;
		font-size: 1.6rem;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		background: #fff;
		padding: 5rem;
		opacity: 0.9;
		box-shadow: 6px 12px 23px -14px #8F8F8F;
		border-radius: 11px;
		margin: 6px;
		width: 49%;

		.gc_portfolio 
			li
				display: table;
				width: 100%;
				list-style: none;
				background: #373737;
				margin: 6px 0px;
				border-bottom: 2px solid #ADADAD;

				h2				
					font-size: 1rem;
					display: table;
					float: left;
					padding: 14px 60px;
					margin-bottom: 0px;
					background: #235279;
					color: #fff;

				h3
					font-size: 1rem;
					float: left;
					background: #2570A6;
					padding: 14px 15px;
					color: #fff;
					width: 40%;
					margin-bottom: 0px;

				button
					width: 25%;
					color: #FFF;
					background: #1BCD73;
					border: none;
					margin-bottom: -2px;
					padding: 3px 4px;
					border-bottom: 3px solid #10AD5D;

					&:hover
						border-bottom: 3px solid #1BCD73;
						background: #10AD5D;