@import 'gbs_variables_colors';

#gc_header
    text-align: center;
    display: table;
    width: 100%;
    height: 60px;

    .sistem_info
        display: table-caption;
        background: $gc_titanic;
        p
            color: #fff;
            font-size: 1.1rem;
            
        .gc_title
            color: #fff;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 2.0rem;
            text-shadow: 3px 1px 6px #125BAF;

    #gc_nav
        background: $gc_marinho;
        padding: 6px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;


        .gc_nav_link
            background: #ff0;
            padding: 5px 15px;
            border-bottom: 1px solid #93934E;

    #placa_1
        background: $gc_marinho;

    .gc_nav_menu
        height: $gc_menu_height;        
        display: inline-flex;
        width: 100%;

        ul
            height: $gc_menu_height;
            margin-left: auto;
            margin-right: auto;
            height: 40px;

            li
                height: $gc_menu_height;
                padding-top: 6px;
                float: left;
                display: block;
        	       list-style: none;

                &:hover
                    background: pink;
        			
                a
                    height: $gc_menu_height;
                    margin: 0px !important;
                    display: block;
                    padding-top: 6px;
                    padding: 0px 6px;

.gc_panel_content
    background: #ff0;
    width: 92%;
    display: block;
    margin-left: auto;
    margin-right: auto;

.gc_logo_title
    font-weight: 800;
    text-shadow: 2px 2px 13px #0F0F0F;
    color: #FFDD00;
    font-size: 1rem;
    &:hover
        font-size: 2rem;
