@import 'gbs_variables_colors';
@import 'gbs_nav';
@import 'gc_nav';
@import 'gc_institute';
@import 'gc_header';
@import 'gc_footer';
@import 'gc_welcome';
@import 'gc_form';



/* gc_style_all */

/* gc_style_print */

/* gc_style_desktop */
@import 'gc_style_desktop';

/* gc_style_tablet */
@import 'gc_style_tablet';

/* gc_style_mobile */
@import 'gc_style_mobile';

$amarelo: #f1f1f1;
$cinza_1: #BBBBBB;

.row
    margin-left: 10px;
    margin-right: 10px;

body
	background: $gc_areia;

	header
		background: $gc_marinho;

	.add_qtdy,
	.remove_qtdy
		cursor: pointer;

		span
		    background: #C12121;
		    width: 10%;
		    display: block;
		    text-align: center;
		    font-size: 1.6rem;
		    width: 100%;
			
	


	